.card-text {
  position: absolute;
  width: 400px;
  height: 300px;
  left: 730px;
  top: 100px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #5A3D32;  
}
.card-title {
  position: absolute;
  width: 400px;
  height: 76px;
  left: 730px;
  top: 50px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 25px;
  color: #5A3D32;
  
}

.text-left {
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #5A3D32;


}

.section-title {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 25px;
color: #5A3D32;
}

.regularContent {
  padding: 75px;
}

.keyInsights {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  
  color: #5A3D32;  
}